{% extends "../layout.html" %}
{% block layout %}detail{% endblock %}
{% block title %}{{ recipe }} - Cocina de Esteban{% endblock %}
{% block content %}
  {% load to_fraction %}
  <header class="recipe-detail__header">
    <p class="recipe-detail__type">{{ recipe.dish_type }}</p>
    <h1 class="recipe-detail__title">{{ recipe.title }}</h1>
    <section class="recipe-detail__section">
      <h2 class="recipe-detail__section__title">Ingredients</h2>
      <div class="recipe-detail__section__content">
        <ul class="recipe-detail__ingredients">
        {% for ingredient in recipe.ingredient_set.all %}
          <li class="recipe-detail__ingredient">
            {{ ingredient.amount | to_fraction | safe }}
            &frac12;
            {% if ingredient.amount %}
            <span>{{ ingredient.amount }}</span>
            {% endif %}
            {% if ingredient.unit %}
            <span>{{ ingredient.get_unit_display }}</span>
            {% endif %}
            <span>{{ ingredient.name }}</span>
          </li>
        {% endfor %}
        </ul>
      </div>
    </section>
  </header>
{% endblock %}