.recipe-detail__header {
  margin: 10rem 0 2rem;
}

.recipe-detail__title {
  font-size: var(--h1-font-size);
  margin: 0;
  margin-left: -0.0675em;
}

.recipe-detail__type {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-bottom: 0.2rem;
  color: var(--light-red);
}

.recipe-detail__section {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.recipe-detail__section__title {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 0.6em;
}

.recipe-detail__section__content {
  padding-left: 2rem;
  border-left: 2px solid var(--light-red);
  display: inline-block;
  width: 100%;
}

.recipe-detail__ingredients {
  --row-gap: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  margin-bottom: calc(var(--row-gap) * -1);
}

.recipe-detail__ingredient {
  margin-bottom: var(--row-gap);
}