.recipe-detail__header {
  margin: 10rem 0 2rem;
}

.recipe-detail__title {
  font-size: var(--h1-font-size);
  margin: 0;
}

.recipe-detail__type {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-bottom: 0.2rem;
  color: var(--light-red);
}

.recipe-detail__section {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.recipe-detail__section__title {
  margin: 0;
  margin-bottom: 1rem;
}

.recipe-detail__ingredients {
  --row-gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  margin-bottom: calc(var(--row-gap) * -1);
}

.recipe-detail__ingredient {
  margin-bottom: var(--row-gap);
}